/* APPLICATION */

.app {
    background-image: url(../images/background.jpg);
    background-size: 100%; 
	font-family: 'Englebert', sans-serif;
}

/* HEADER */
.header {
	color: white;
	margin-top: 50px;
}
.header__h1 {	
	font-weight: bold;
	text-shadow: 2px 2px 2px black, 0 0 1em white;
}
.header__h1_80 {
	font-size: 80px;
}
.header__h1_50 {
	font-size: 50px;
}

/* CONTENT */
.content {
	width: 100%;
	min-height: 300px;
}

.main-menu {
	text-align: center;
	color: white;
	top: 50px;
	font-size: 40px;
	padding: 0px;
	text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.main-menu__item {
	list-style-type: none;
	width: 100%;
}
.main-menu__item a {
	height: 100%;
	display: block;
	padding-top: 5px;
}
.main-menu__item:hover {
	background: rgba(0, 25, 162, 0.21);
}
.main-menu__item:hover > a {
	text-decoration: none;
	color: white;
}

#page, .content {
	text-align: center;
}

.top-table {
	margin: 0 auto;
	font-size: 30px;
	color: #9b9595;
	min-width: 400px;
	font-weight: bold;
	margin-top: 20px;
}
.top-tr td {
	min-width: 100px;
	cursor: default;
}
.top-tr:hover {
	text-shadow: 2px 2px 3px black, 0 0 30px white;
	color: white;
}
.top-tr_gold-hover:hover {
	text-shadow: 2px 2px 3px black, 0 0 30px gold;
	color: gold;
}
.col_no-padding-left {
	padding-left: 0px;
}
.col_no-padding-right {
	padding-right: 0px;
}

/* PROFILE */
.profile {
    text-align: center;
    max-width: 170px;
    margin: 0 auto;            
    font-size: 30px;

    color: white;
}
.profile__nickname {        
    color: white;
}
.profile__nickname:hover,
.profile__nickname:focus {
    color: white;
}
.profile__sign-out {
    font-size: 16px;
}
.profile__sign-out:hover,
.profile__sign-out:focus {
    font-size: 17px;
    color:white;
    text-decoration: none;
}

/* APP-FORM */
.app-form {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 30px;
	text-align: right;
}
.app-form_w400 {
	max-width: 400px;
}
.app-form__label {
	text-shadow: 2px 2px 2px black, 0 0 1em white;
	color: white;
}
.app-form__btn {
	padding: 10px 30px;
	border-radius: 0px !important;
}
.app-form__btn span {
	margin-right: 5px;
}
.app-form__btn_mar-t-5 {
	margin-top: 5px;
}
.app-form__input {
	border-radius: 0px !important;
	font-weight: bold !important;
}
.app-form__upload-btn {
	font-size: 16px;
	padding: 10px;
	width: 100%;
}
.app-form__upload-input {
	position: absolute;
	max-width: 177px;
	height: 45px;
	opacity: 0;
	cursor: pointer;
}
.app-form__upload-container:hover > .app-form__upload-btn {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.glyphicon_sm {
	font-size: 16px;
}

/*** ALERT ***/
/* bootstrap */
.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline, 
.has-error.radio label, 
.has-error.checkbox label, 
.has-error.radio-inline label, 
.has-error.checkbox-inline label {
	color: rgba(206, 6, 6, 0.75);
	font-size: 18px;
	margin-bottom: 0px;
}

.content__alert {
	max-width: 500px;
	border-radius: 0px;
	margin: 0 auto;
	margin-bottom: 0px;	
	color: white;
	cursor: default;
	padding: 10px;
	border: 1px solid transparent;
	border-color: #ebccd1;
	font-size: 18px;
}
.content__alert_danger {
	background-color: rgba(206, 6, 6, 0.75);
}
.content__alert_success {
	background-color: rgba(32, 84, 11, 0.75);
}
.content__alert__alert-link {
    color: #fff;
    font-size: 20px;
}
.content__alert__alert-link:hover {
	color: #e7e6e6;
	font-weight: bold;
}

/* FOOTER */
.footer {
	margin-bottom: 50px;
}
.footer__a {
	display: block;
	height: 100%;
}
.footer__a span {
	font-size: 20px;
	vertical-align: middle;
	margin-bottom: 5px;
}
.footer__a:hover {
	color: white;
	font-size: 28px;
	text-decoration: none;
}
.footer__a:hover > span {
	font-size: 26px;
	margin-bottom: 6px;
}

/* GAME */
.game-world {
	padding: 0;
    margin:  0;
    /*height: 100%;*/
    /*height: 100vh;*/
    /*overflow: hidden;*/
}

/* bootstrap */
.glyphicon {
	margin-right: 5px;
}