/* APPLICATION */

.app {
    background-image: url(../images/background.jpg);
    background-size: 100%; 
	font-family: 'Englebert', sans-serif;
}
._no-border {
	border-radius: 0px !important;
}
._bold {
	font-weight: bold !important;
}

/* HEADER */
.header {
	color: white;
	margin-top: 50px;
}
.header__h1 {	
	font-weight: bold;
	text-shadow: 2px 2px 2px black, 0 0 1em white;
}
.header__h1_80 {
	font-size: 80px;
}
.header__h1_50 {
	font-size: 50px;
}

/* CONTENT */
.content {
	width: 100%;
	min-height: 300px;
}

.main-menu {
	text-align: center;
	color: white;
	top: 50px;
	font-size: 40px;
	padding: 0px;
	text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.main-menu__item {
	list-style-type: none;
	width: 100%;
}
.main-menu__item a {
	height: 100%;
	display: block;
	padding-top: 5px;
}
.main-menu__item:hover {
	background: rgba(0, 25, 162, 0.21);
}
.main-menu__item:hover > a {
	text-decoration: none;
	color: white;
}

#page, .content {
	text-align: center;
}

.top-table {
	margin: 0 auto;
	font-size: 30px;
	color: #9b9595;
	min-width: 400px;
	font-weight: bold;
	margin-top: 20px;
}
.top-tr td {
	min-width: 100px;
	cursor: default;
}
.top-tr:hover {
	text-shadow: 2px 2px 3px black, 0 0 30px white;
	color: white;
}
.top-tr_gold-hover:hover {
	text-shadow: 2px 2px 3px black, 0 0 30px gold;
	color: gold;
}

.form-sign-in, 
.form-sign-up {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: right;
}
.form-sign-in {
	max-width: 400px;
}
.content__label {
	text-shadow: 2px 2px 2px black, 0 0 1em white;
	color: white;
}
.content__btn {
	padding: 10px 30px;
}
.content__btn span {
	margin-right: 5px;
}

.glyphicon_sm {
	font-size: 16px;
}

.signup-alert {
	max-width: 500px;
	border-radius: 0px;
	margin: 0 auto;
	margin-bottom: -20px;	
	color: white;
	cursor: default;
}
.signup-alert.alert-danger {
	background-color: rgba(206, 6, 6, 0.75);
}
.signup-alert.alert-success {
	background-color: rgba(32, 84, 11, 0.75);
}
.signup-alert.alert-success .alert-link {
    color: #fff;
    font-size: 20px;
}

.upload-btn {
	font-size: 16px;
	padding: 10px;
	width: 100%;
}
.upload-input {
	position: absolute;
	max-width: 177px;
	height: 45px;
	opacity: 0;
	cursor: pointer;
}
.js-fileapi-wrapper:hover > .upload-btn {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

._no-padding-left {
	padding-left: 0px;
}
._no-padding-right {
	padding-right: 0px;
}
._mar-t-5 {
	margin-top: 5px;
}
._w100 {
	width: 100%;
}

/**************************************/
#game-field {
	width: 100%;
	height: 400px;
	margin-bottom: 100px;
}
#space-craft {
	background: url("../images/space-craft.png") center center no-repeat;
	background-size: 100%;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -100;
}
/**************************************/

/* FOOTER */
.footer {
	margin-bottom: 50px;
}
.footer__a {
	display: block;
	height: 100%;
}
.footer__a span {
	font-size: 20px;
	vertical-align: middle;
	margin-bottom: 5px;
}
.footer__a:hover {
	color: white;
	font-size: 28px;
	text-decoration: none;
}
.footer__a:hover > span {
	font-size: 26px;
	margin-bottom: 6px;
}


