.profile {
    text-align: center;
    max-width: 170px;
    margin: 0 auto;            
    font-size: 22px;
    color: white;
    
    &__avatar {
	   margin-bottom: 10px;
	   height: 160px;
	   width: 160px;
    }

    &__nickname {        
        color: white;
    
        &:hover, &:focus {
            color: white;
        }
    }

    &__sign-out {
        font-size: 16px;
    
        &:hover, &:focus {
            font-size: 17px;
            color:white;
            text-decoration: none;
        }
    }
} 